{% extends "base.html" %}

{% block content %}

<main class="form-signin">
    <form action="/app/register" method="post">
      <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
      <div class="form-floating">
        <input type="text" class="form-control" id="email" name="email" placeholder="Email">
        <label for="email" style="color: {{eLabelKleur}};">Email {{eMessage}}</label>
      <div class="form-floating">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        <label for="password" style="color: {{pLabelKleur}};">Password {{pMessage}}</label>
      </div>
      <div class="form-floating ">
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Repeat Password">
        <label for="password2" style="color: {{pLabelKleur}};">Repeat Password {{pMessage}}</label>           
      </div>
      <button type="submit" class="w-100 btn btn-outline-dark ">Sign up</button>
    </form>
  </main>
{% endblock %}
