{% extends "base.html" %}

{% block content %}
<h1 class="h3 mb-3 fw-normal" style="padding-top: 2%;">Pas val "{{valNaam}}" aan</h1>
    <main class="form-signin">
        <form action="/app/valEdit/{{val_ID}}" method="post">
          <div class="form-floating">
            <input type="text" class="form-control" id="valNaam" name="valNaam" placeholder="Nieuwe val naam">
            <label for="valNaam" style="color: {{nLabelKleur}};">{{nMessage}}</label>
          </div>
          <!-- <div class="form-floating ">
            <input type="locatie" class="form-control" id="valLocatie" name="valLocatie" placeholder="0,0">
            <label for="valLocatie" style="color: {{lLabelKleur}};">{{lMessage}}</label>           
          </div> -->
          <div id="trap-map" style='height: 300px'><input type='entry' name="valLocatie" id='valLocatie' /></div>
          <button type="submit" class="w-100 btn btn-outline-dark ">Pas aan</button>
        </form>
      </main>
      <script type="text/javascript">
        var map = L.map('trap-map').setView([52.283333, 5.666667], 7);
    
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
    
        let marker = null;
    
        function setMarker(locArg) {
            var loc = L.latLng(locArg);
            if (marker) {
                marker.setLatLng(loc);
            } else {
                marker = L.marker(loc).addTo(map);
            }
    
            document.getElementById('valLocatie').value = `${loc.lat},  ${loc.lng}`;
        }
    
            setMarker([ {{ valLocatie }} ]);
    
        function onMapClick(e) {
            setMarker(e.latlng);
        }
    
        map.on('click', onMapClick);
    </script>
{% endblock %}