{% extends "base.html" %}

{% block content %}

<main>
    <div class="container py-4">
      <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        </a>
      </header>
  
      <div class="row align-items-md-stretch">
        <div class="container-fluid py-6">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Om dit te zien moet je ingelogd zijn!</h2>
            <p>Probeer in te loggen of <a href="/">ga naar de homepage</a></p>
            <br>
          </div>
        </div>
        </div>
      </div>
    </div>
  </main>

{% endblock %}