{% extends "base.html" %}

{% block content %}
<div style="display:block; padding: 10px;">
    <button type="button" class="btn btn-outline-dark" onclick="location.href='/valEdit/{{valGegevens[0][0]}}'">Val gegevens bewerken</button>
    <button type="button" class="btn btn-outline-danger" onclick="location.href='/valDelete/{{valGegevens[0][0]}}'">Val Verwijderen</button>
</div>
<div style="display:block; padding-bottom: 8px;">
    <div class="card card-wide">
        <div class="card-block  cf cf-both">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-left pr-3">
                        <div style="text-align:center"></div>
                    </div>
                    <div class="profile-details" style="padding-left: 150px">
                        <br>
                        <div class="row cf cf-right">
                            <div class="col-sm-2 profile-label"><strong><h4>Account</strong></h4></div>
                            <div class="col-sm-10" style="padding-bottom: 10px;"><h4>{{session['email']}}</h4></div>
                        </div>
                        <div class="row cf cf-right">
                            <div class="col-sm-2 profile-label"><strong><h4>Val naam</strong></h4></div>
                            <div class="col-sm-10" style="padding-bottom: 10px;"><h4>{{valGegevens[0][3]}}</h4></div>
                        </div>
                        <div class="row cf cf-right">
                            <div class="col-sm-2 profile-label"><strong><h4>val nummer</strong></h4></div>
                            <div class="col-sm-10" style="padding-bottom: 10px;"><h4>{{valGegevens[0][0]}}: {{valGegevens[0][2]}}</h4></div>
                        </div>
                        <div class="row cf cf-right">
                            <div class="col-sm-2 profile-label"><strong><h4>Status</strong></h4></div>
                            <div class="col-sm-10" style="padding-bottom: 10px;"><h4>{{valGegevens[0][7]}}</h4></div>
                        </div>
                        <br>
                        <div class="row cf cf-right">
                            <div class="col-sm-2 profile-label"><strong><h4>val locatie</strong></h4></div>
                            <div class="col-sm-10" style="padding-bottom: 10px;">
                                <h4>
                                    {% if valStatus >= 1 %}
                                        <!-- <div class="mapouter">
                                            <div class="gmap_canvas">
                                                <iframe width="666" height="375" id="gmap_canvas" src="https://maps.google.com/maps?q=%2053.241163,%206.530831%20&t=k&z=19&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"/>
                                                <style>.mapouter{position:relative;text-align:right;height:375px;width:666px;}</style>
                                                <style>.gmap_canvas {overflow:hidden;background:none!important;height:375px;width:666px;}</style>
                                            </div>
                                        </div> -->
                                        <iframe
                                          width="666"
                                          height="375"
                                          frameborder="0" style="border:0;"
                                          referrerpolicy="origin"
                                          src="https://maps.google.com/maps?q= {{valGegevens[0][5]}} &t=k&z=17&ie=UTF8&iwloc=&output=embed"
                                          allowfullscreen>
                                        </iframe>
                                        <!-- src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAJi5iJ7xq64NrFk-uY-iZ8u4rTicDDWU0&q=0,0" -->
                                    {% else %}
                                        Geen locatie beschickbaar
                                    {% endif %}
                                </h4>
                            </div>
                        </div>
                        </div>
                    </div>                      
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}